<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lrfc.shiro.mapper.SysPermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lrfc.shiro.entity.SysPermission">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="url" property="url" />
        <result column="parent_id" property="parentId" />
        <result column="permission" property="permission" />
        <result column="type" property="type" />
        <result column="isDeleted" property="isDeleted" />
        <result column="modifier" property="modifier" />
        <result column="modify_time" property="modifyTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, url, parent_id, permission, type, isDeleted, modifier, modify_time
    </sql>
    <delete id="cleanPermission">
        DELETE  FROM sys_permission
    </delete>
    <insert id="addSysPermissionById" parameterType="com.lrfc.shiro.entity.SysPermission">
        insert into  sys_permission(id,name,url,parent_id,permission,type,isDeleted,modifier,modify_time)
        value(#{id},#{name},#{url},#{parentId},#{permission},#{type},#{isDeleted},#{modifier},#{modifyTime});
    </insert>
</mapper>
