<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<!--<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>-->
<script th:src="@{/jquery-3.4.1.min.js}" type="text/javascript"></script>
<body>
<h1 th:text="${msg}"></h1>
<form th:action="@{/login}" method="post">
    用户名：<input type="text"  id="username" name="username" placeholder="请输入用户名称"/>
    <br/>
    密码:<input type="password" id="password" name="password"  placeholder="请输入密码"/>
    <br/>
    <input type="text" id="verificationCode" name="verificationCode" placeholder="请输入验证码"/>
    <img id="vc" th:src="@{/verificationCode}"  onclick="reloadCode()" title="重新获取" style="cursor:pointer;">
    <br/>
    <input type="submit" value="登 录" />
</form>
</body>
<script>
    function reloadCode() {
        document.getElementById('vc').src = "/shiro/verificationCode";

    //     $.ajax({
    //         type:"GET",
    //         url:"verificationCode",
    //         // dataType:"json",
    //         success:function(data){
    //             console.log(data);
    //             document.getElementById('vc') = data;
    //
    //             // if(data.success){
    //         //     alert(data)
    //         //     $("searchResult").html(data.msg);
    //         // }else{
    //         //     $("#searchResult").html("出现错误：" + data.msg);
    //         // }
    //     },error:function(jqXHR){
    //         alert("发生错误："+ jqXHR.status);
    //     }
    // });

    }
</script>
</html>